.counterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.counter {
    padding: 10px;
    text-align: center;
    background-color: bisque;
    border-radius: 10px;
    width: 150px;
    margin: 20px;

    span {
        display: block;
        margin-bottom: 10px;
    }

    button {
        display: block;
        width: 100px;
        margin: 0 auto 7px;
        background-color: white;
        border: none;
        border-radius: 5px;
        padding: 5px;
        transition-duration: 0.7s;
        cursor: pointer;

        &:hover {
            background-color: rgb(253, 205, 145);
        }
    }
}
